input:focus {
    outline:none !important;
}

button:focus {
    outline:none !important;
}

body {
	background-image: url("https://i.imgur.com/2yFPIGp.jpg");
	background-size: 1800px;
	margin: 0;
	padding: 0;
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
}

.tile {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
}

.flexBoxDiv {
	position: relative;
	width: 400px;
	text-align: center;
	margin: 20px;
	background-color: #fafafa;
	padding: 20px;
	padding-bottom: 20px;
	padding-top: 40px;
	border: 1px solid #D5DADF;
	border-radius: 9px;
	-webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25);
	box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25);
}

.landerPageMessage {
	border-top: 1px solid #D5DADF;
	padding-top: 20px;
	margin-bottom: 20px;
	color: #9fa4b3;
}

.warningBox {
	color: #9fa4b3;
	font-size: 12px;
	margin-top: 20px;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.secondaryHeader {
	color: #9fa4b3;
	margin-bottom: 20px;
}



.headerTitle {
	font-size: 48px;
	line-height: 48px;
	width: 100%;
	color: #2f303b;
	padding-bottom: 40px;
}

.inputText {
	font-family: 'Quicksand', sans-serif;
	height: 40px;
	font-size: 16px;
	width: 100%;
	padding: 0;
	margin-bottom: 20px;
	border: 1px solid #D5DADF;
	text-align: center;
	border-radius: 3px;
}

.logInBox {
	padding-top: 20px;
	border-top: 1px solid #D5DADF;
}

.pieChart {
	margin-top: 40px;
	margin-bottom: 20px;
}

.pieDataBox {
	width: 20px;
	height: 20px;
	border: 1px solid rgba(0,0,0,.25);
	border-radius: 3px;
	display: inline-block;
	margin-right: 10px;
}

.pieDataBoxUnverified {
	background-color: rgb(107, 174, 214);
}

.pieDataBoxVerified {
	background-color: rgb(49, 130, 189);
}

.pieDataLine {
	font-size: 12px;
	margin-bottom: 10px;
	height: 22px;
}

.pieTitle {
	display: inline-block;
	vertical-align: top;
	line-height: 22px;
}

.totalEmails {
	margin-top: 40px;
}

.csvButtons {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #D5DADF;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #D5DADF;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #D5DADF;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #D5DADF;
}
:-moz-placeholder { /* Firefox 18- */
  color: #D5DADF;
}

.inputButton {
	width: 100%;
	font-size: 20px; 
	height: 60px;
}

.button {
	font-family: 'Quicksand', sans-serif;
	color: #9fa4b3; 
	border: 1px solid #D5DADF;
	border-radius: 3px;
	background: #D5DADF; /* Old browsers */
	background: -moz-linear-gradient(top,  white 0%, #fafafa 50%, #D5DADF 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  white 0%,#fafafa 50%,#D5DADF 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  white 0%,#fafafa 50%,#D5DADF 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 ); /* IE6-9 */
}

.button:active {
	background: #D5DADF;
}

.leftButton {
	margin-right: 5px;
}

.resendButton {
	margin-left: 5px;
}

.shareCase {
	margin-top: 20px;
	margin-bottom: 20px;
}

.shareCase i {
	margin: 2.5px;
}

.fa-facebook-square {
	color: #3B5998;
}

.fa-twitter-square {
	color: #00ACED;
}

.fa-google-plus-square {
	color: #CD3C2A;
}

.fa-linkedin-square {
	color: #4875B4;
}

.referralLink {
	border: 1px solid #D5DADF;
	border-radius: 3px;
	line-height: 40px;
	font-size: 12px;
}

.adminContainer {
	border-top: 1px solid #D5DADF;
	padding-top: 20px;
}

.dataContainer {
	border-bottom: 1px solid #D5DADF;
	padding-bottom: 40px;
	margin-bottom: 20px;
}